In [18]:
base = float(input("enter the base of triangle in cm "))
hight = float(input("enter the hight of triangle in cm "))
area = 0.5*base*hight
print("the area of triangle is ", area ,"cm squar" )

enter the base of triangle in cm 12
enter the hight of triangle in cm 2
the area of triangle is  12.0 cm squar

In [14]:
n1 : int = 5
n2 : int = 10

temp = n1
n1 = n2
n2 = temp

print("n1 =", n1)
print("n2 =", n2)

n1 = 10
n2 = 5

In [17]:
km = float(input(" enter the number in kilometer "))
miles = km * 0.621371
print("the number in miles is " , miles)

 enter the number in kilometer 10
the number in miles is  6.21371