<a href="https://colab.research.google.com/github/tahamo22/AI-Course-instant/blob/main/task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
x=input("enter a string ")
count=0
for i in x:
    count+=1
print(count)

enter a string tahamo
6

In [ ]:
x=input("enter a string ")
print(len(x))

enter a string taha
4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
x=input("enter a string ")
if len(x)<2:
    print("empty string")
else:
    print(x[:2]+x[-2:])

enter a string tah
taah

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
x=input("enter a string ")
if len(x)<3:
    print(x)
elif x[-3:]=="ing":
     x=x.replace(x[-3:],"ly")
     print(x)
else:
    print(x+"ing")

enter a string going
goly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
list1=input("Enter a list words: ")
list1=list(map(str,list1.split()))
longest_word=max(list1,key=len)
print("Longest word: ",longest_word)
print("Length of the longest word: ",len(longest_word))

Enter a list words: taha mohamed ahmed
Longest word:  mohamed
Length of the longest word:  7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
x=input("enter a string ")
x=x[-1]+x[1:-1]+x[0]
print(x)

enter a string mohamed
dohamem

In [ ]:
text=(input("enter a string "))
lst=list(text)
lst[0],lst[-1]=lst[-1],lst[0]
text="".join(lst)
print(text)

enter a string taha
['t', 'a', 'h', 'a']
['a', 'a', 'h', 't']
aaht

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
x=input("enter a string ")
print(x[::2])

enter a string taha
th

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
x=input("enter a string ")
x=x.split()
print(x)
for i in x:
    print(i,"=",x.count(i))

enter a string taha mohamed mohamed
['taha', 'mohamed', 'mohamed']
taha = 1
mohamed = 2
mohamed = 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
x=input("enter a string ")
print(x.upper())
print(x.lower())

enter a string taha
TAHA
taha

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
x=input("enter a string ")
if len(x)%4==0:
    print(x[::-1])
else:
    print(x)

enter a string taha
ahat

**10- Write a Python program to remove a newline in Python

In [ ]:
text=("taha\nmohamed")
print(text)
text=text.replace("\n"," ")
print(text)

taha
mohamed
taha mohamed

**11-Write a Python program to check whether a string starts with specified characters

In [15]:
x=input("enter a string ")
y=input("enter a character ")
if x[0]==y:
    print("yes")
else:
    print("no")

enter a string taha
enter a character t
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [22]:
text = input("Enter the text: ")
prefix = input("Enter the prefix to add: ")

words = text.split()
for word in words:
    print(prefix, word)

Enter the text: taha mohmed
Enter the prefix to add: this
this  taha
this  mohmed

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
x=float(input("enter a number "))
print(round(x,2))

enter a number 0.121453
0.12

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
x=float(input("enter a number "))
if x>=0:
    print(round(x,2),"sign is positive")
else:
    print(round(x,2), "sign is negative")

enter a number -0.12234
-0.12 sign is negative

**15-Write a Python program to display a number with a comma separator

In [ ]:
x=int(input("enter a number "))
print(f"{x:,}")

enter a number 2133415
2,133,415

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
x=input("enter a string ")
print(x[::-1])

enter a string taha
ahat

In [ ]:
text=(input("enter a string "))
lst=list(text)
lst.reverse()
text="".join(lst)
print(text)

enter a string taha
ahat

In [ ]:
x=input("enter a string ")
y=""
for i in x:
    y=i+y
print(y)

enter a string taha
ahat

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
l=input("enter a string ")
dict1={}
for i in l:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

enter a string taha
{'t': 1, 'a': 2, 'h': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
x=input("enter a string ")
for i in x:
    if x.count(i)==1:
        print(i)
        break

enter a string taha moahmed
t

**19-Write a Python program to remove spaces from a given string

In [ ]:
x=input("enter a string ")
print(x.replace(" ",""))

enter a string taha moahmed
tahamoahmed

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
x=input("enter a string ")
len=len(x)
print(int((len*(len+1))/2))

enter a string abc
6

**21-write a Python program to swap first and last element of any list.

In [ ]:
x=input("enter a list ")
x=x.split()
x[0],x[-1]=x[-1],x[0]
print(x)

enter a list 3 4 1 1 2 4 t a
['a', '4', '1', '1', '2', '4', 't', '3']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
lst=input("enter a list ")
lst=lst.split()
pos1=int(input("enter the first position "))
pos2=int(input("enter the second position "))
lst[pos1-1],lst[pos2-1]=lst[pos2-1],lst[pos1-1]
print(lst)

enter a list 12 23 4 5 34
enter the first position 1
enter the second position 4
['5', '23', '4', '12', '34']

\**23- search for the all ways to know the length of the list

In [ ]:
x=input("enter a list ")
x=list((x.split()))
count=0
for i in x:
  count += 1
print(count)

enter a list 5 5 7 8 4 2
6

In [ ]:
from operator import length_hint
x=input("enter a list ")
x=list((x.split()))
print(length_hint(x))

enter a list 43 5 6 7 8
5

In [ ]:
x=input("enter a list ")
x=list((x.split()))
print(len(x))

enter a list 2 3 4 56 6 7 98 0 9
9

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
list1=input("enter a list ")
list1=list(map(int,list1.split()))
print(max(list1))

enter a list  5 3 12 1 3
12

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
list1=input("enter a list ")
list1=list(map(int,list1.split()))
print(min(list1))

enter a list 4 6 7 4 2 1
1

**26-search for if an elem is existing in list

In [ ]:
x=input("enter a list ")
y=input("enter the element to search ")
x=list(x.split())
for i in x:
    if i==y:
        print(f"element {i} is found in list")
        break
else:
    print("element not found")

enter a list  34 2 1 4 6
enter the element to search 1
element 1 is found in list

**27- clear python list using different ways

In [ ]:
x=input("enter a list ")
x=list(x.split())
x.clear()
print(x)

enter a list 1 2 3 45 3 6 4
[]

**28-remove duplicated elements from a list

In [ ]:
x=input("enter a list ")
x=list(x.split())
y=[]
for i in x:
    if i not in y:
        y.append(i)
print(y)

enter a list 3 4 21  1 2 3 4
['3', '4', '21', '1', '2']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
x=input("enter a list ")
x=list(x.split())
dict1={}
lis=[]
for i in range(0,len(x),2):
    dict1[x[i]]=x[i+1]
    lis.append(dict1)
    dict1={}
print(lis)

enter a list taha 23 mo 21 lol 33
[{'taha': '23'}, {'mo': '21'}, {'lol': '33'}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
x=input("enter a list ")
x=list(x.split())
y=[]
for i in x:
    if x.count(i)==1:
        y.append(i)
print(y)
print("And the count of this number is  ",len(y))

enter a list 2 3 4 5 6 7 34 3 3 21 2 4
['5', '6', '7', '34', '21']
And the count of this number is   5

In [ ]:
#set1=input("enter a list ")
#set1=set(set1.split())
#print(set1)

enter a list 2 3 4 2
{'3', '2', '4'}

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
x=input("enter a list ")
x=list(map(int,x.split()))
k=int(input("enter a number "))
y=[]
for i in x:
    if x.count(i)>k:
      y.append(i)
print(set(y))

enter a list 2 1 2 3 4 46 2 2 4  3 4 3
enter a number 2
{2, 3, 4}

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
def strongest_neighbours(arr):
    result = []
    for i in range(len(arr) - 1):
        result.append(max(arr[i], arr[i + 1]))
    return result

user_input = input("Enter numbers separated by space: ")
input_list = list(map(int, user_input.split()))

output = strongest_neighbours(input_list)
print("Output:", *output)

Enter numbers separated by space: 1 2 3 2 34 5
Output: 2 3 3 34 34

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
x=input("enter a list ")
x=list(map(int,x.split()))
for i in range(3):
    for j in range(3):
        for k in range(3):
            if i!=j and j!=k and i!=k:
                print(x[i],x[j],x[k])

enter a list 1 2 3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
x=input("enter a list ")
x=list(map(int,x.split()))
for i in range(len(x)):
    for j in range(i,len(x)):
        print(x[i:j+1])

enter a list 1 2 3 4
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[2]
[2, 3]
[2, 3, 4]
[3]
[3, 4]
[4]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list1=input("enter a list ")
list2=input("enter a list ")
list1=list(map(str,list1.split()))
list2=list(map(int,list2.split()))
list3=[]
for i in range(len(list1)):
    for j in range(len(list2)):
        list3.append((list1[i],list2[j]))
print(list3)

enter a list a b c
enter a list 2 6 4
[('a', 2), ('a', 6), ('a', 4), ('b', 2), ('b', 6), ('b', 4), ('c', 2), ('c', 6), ('c', 4)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
x=input("enter a list ")
x=list(map(int,x.split()))
y=int(input("enter a number you want to remove "))
z=[]
for i in x:
    if i!=y:
        z.append(i)
print(z)

enter a list 1 2 1 3 4 5 1 2 1
enter a number you want to remove 1
[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
x=input("enter a list ")
x=list(map(str,x.split()))
y=input("enter a list ")
y=list(map(int,y.split()))
z=[]
for i in y:
    z.append(x[i])
print(z)

enter a list taha is best
enter a list 0 1 2 0 0 2 1 2 1
['taha', 'is', 'best', 'taha', 'taha', 'best', 'is', 'best', 'is']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
num_of_tuples=int(input("enter the number of tuples in list "))
test_list=[]
for i in range(num_of_tuples):
    print(f"enter the tuple {i+1} ")
    x=input(": ")
    x=tuple(map(int,x.split()))
    test_list.append(x)
print("the test list",test_list)
list4=[]
k=int(input("Enter the value of K (the element to count) "))
n=int(input("enter the value of N (the exact number of times K should appear in each tuple) "))
for i in test_list:
    if i.count(k)==n:
        list4.append(i)
print(list4)

enter the number of tuples in list 3
enter the tuple 1
: 1 2 1 4
enter the tuple 2
: 1 1 6 7
enter the tuple 3
: 9 5 1
the test list [(1, 2, 1, 4), (1, 1, 6, 7), (9, 5, 1)]
Enter the value of K (the element to count) 1
enter the value of N (the exact number of times K should appear in each tuple) 2
[(1, 2, 1, 4), (1, 1, 6, 7)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
x=input("enter a list ")
x=list(map(int,x.split()))
y=input("enter a list ")
y=list(map(int,y.split()))
z=input("enter a list ")
z=list(map(int,z.split()))
list1=[x,y,z]
list1.sort(key=lambda x:x[0])
print("Sorted array specific to column 0 :",list1)
list1.sort(key=lambda x:x[1])
print("Sorted array specific to column 1 :",list1)
list1.sort(key=lambda x:x[2])
print("Sorted array specific to column 2 :",list1)

enter a list 1 3 3
enter a list 2 1 2
enter a list 3 2 1
Sorted array specific to column 0 : [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1 : [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2 : [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
x=input("enter the dictionary ")
x=x.split()
dict1={}
for i in range(0,len(x),2):
    dict1[x[i]]=int(x[i+1])
print("the dictionary befor sort :",dict1)
dict1=dict(sorted(dict1.items()))
print("the dictionary after sort :",dict1)

enter the dictionary taha 22 ahmed 1 mo 11
the dictionary befor sort : {'taha': 22, 'ahmed': 1, 'mo': 11}
the dictionary after sort : {'ahmed': 1, 'mo': 11, 'taha': 22}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [3]:
x=input("enter the dictionary ")
x=x.split()
dict1={}
for i in range(0,len(x),2):
    dict1[x[i]]=int(x[i+1])
print("the dictionary befor remove iteam :",dict1)
k=int(input("enter a number you want to remove "))
dict2={}
for key,value in dict1.items():
    if value<=k:
        dict2[key]=value
print("the dictionary after remove iteam :",dict2)

enter the dictionary taha 4 mo 6 ahmed 10
the dictionary befor remove iteam : {'taha': 4, 'mo': 6, 'ahmed': 10}
enter a number you want to remove 7
the dictionary after remove iteam : {'taha': 4, 'mo': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50, 6:60}
dict4={}
for key,value in dict1.items():
    dict4[key]=value
for key,value in dict2.items():
    dict4[key]=value
for key,value in dict3.items():
    dict4[key]=value
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
x=input("enter the dictionary ")
x=x.split()
dict1={}
for i in range(0,len(x),2):
    dict1[x[i]]=int(x[i+1])
for key,value in dict1.items():
    print("key :",key,"|||","value :",value)

enter the dictionary taha 1 mo 22
key : taha ||| value : 1
key : mo ||| value : 22

**44- Write a Python script to merge two Python dictionaries

In [ ]:
x = input("enter the first dictionary ")
y = input("enter the second dictionary ")
x = x.split()
y = y.split()
dict1 = {}
dict2 = {}
merg_dict={}
for i in range(0, len(x), 2):
    dict1[x[i]] = int(x[i + 1])
for i in range(0, len(y), 2):
    dict2[y[i]] = int(y[i + 1])
merg_dict.update(dict1)
merg_dict.update(dict2)
print(merg_dict)

enter the first dictionary taha 11 mo 22
enter the second dictionary ahmed 12 mohamed 23
{'taha': 11, 'mo': 22, 'ahmed': 12, 'mohamed': 23}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
x=input("enter the dictionary ")
x=x.split()
dict1={}
for i in range(0,len(x),2):
    dict1[x[i]]=int(x[i+1])
print("the max value is ",max(dict1.values()))
print("the min value is ",min(dict1.values()))

enter the dictionary taha 7 mo 11 ahmed 22
the max value is  22
the min value is  7

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [14]:
x=input("enter the dictionary ")
x=x.split()
dict1={}
for i in range(0,len(x),2):
    if i + 1 < len(x):
        dict1[x[i]]=int(x[i+1])
    if dict1.get(x[i])==None:
        dict1.pop(x[i], None)
print(dict1)

enter the dictionary taha 1 mo 2 ahmed
{'taha': 1, 'mo': 2}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
my_tuple = (10, 20, 30)

a, b, c = my_tuple

print("a =", a)
print("b =", b)
print("c =", c)

a = 10
b = 20
c = 30

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
x=input("enter a tuple ")
x=tuple(map(str,x.split()))
a,b,c,d=x
print(a,b,c,d)

enter a tuple a s d t
a s d t

**49-Write a Python program to add an item to a tuple

In [ ]:
x=input("enter a tuple ")
x=tuple(map(int,x.split()))
y=int(input("enter a number you want to add "))
x=list(x)
x.append(y)
x=tuple(x)
print(x)

enter a tuple 12 33 1 34
enter a number you want to add 18
(12, 33, 1, 34, 18)

**50-Write a Python program to convert a tuple to a string

In [ ]:
x=input("enter a tuple ")
x=tuple(map(str,x.split()))
y=""
print(x,"type is",type(x))
for i in x:
    y+=i
print(y,"type is",type(y))

enter a tuple 1 2 3 4
('1', '2', '3', '4') type is <class 'tuple'>
1234 type is <class 'str'>

**51-Write a Python program to convert a list to a tuple

In [ ]:
x=input("enter a list ")
x=list(map(int,x.split()))
print(x,"type is",type(x))
x=tuple(x)
print(x,"type is",type(x))

enter a list 1 2 3 4
[1, 2, 3, 4] type is <class 'list'>
(1, 2, 3, 4) type is <class 'tuple'>

**52-Write a Python program to reverse a tuple

In [ ]:
x=input("enter a tuple ")
x=tuple(map(int,x.split()))
print(x[::-1])

enter a tuple 1 2 3 4 5
(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
num_of_tuples=int(input("enter the number of tuples in list "))
t_list=[]
f_list=[]
for i in range(num_of_tuples):
    print(f"enter the tuple {i+1} ")
    x=input(": ")
    x=tuple(map(int,x.split()))
    t_list.append(x)
print("the test list",t_list)
y=int(input("enter a number you want to add "))
for i in range(len(t_list)):
    t_list[i]=list(t_list[i])
    t_list[i][-1]=y
    t_list[i]=tuple(t_list[i])
print(t_list)

enter the number of tuples in list 3
enter the tuple 1
: 10 20 40
enter the tuple 2
: 40 50 60
enter the tuple 3
: 70 80 90
the test list [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
enter a number you want to add 100
[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
x=input("enter a string ")
print(x,"type is",type(x))
x=tuple(x)
print(x,"type is",type(x))

enter a string taha
taha type is <class 'str'>
('t', 'a', 'h', 'a') type is <class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
num_of_tuples=int(input("enter the number of tuples  "))
t=()
for i in range(num_of_tuples):
    print(f"enter the tuple {i+1} ")
    x=input(": ")
    x=tuple(map(int,x.split()))
    t += (x,)
print("the test list",t)
print("the average is ",sum(sum(t,()))/len(sum(t,())))

enter the number of tuples  3
enter the tuple 1
: 1 2 3
enter the tuple 2
: 3 3 4
enter the tuple 3
: 2 7 5
the test list ((1, 2, 3), (3, 3, 4), (2, 7, 5))
the average is  3.3333333333333335

**56-Write a Python program to add member(s) to a set.

In [ ]:
x=input("enter a set ")
x=set(map(int,x.split()))
y=int(input("enter a number you want to add "))
x.add(y)
print(x)

enter a set 1 2 3 4
enter a number you want to add 6
{1, 2, 3, 4, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
x=input("enter a set ")
x=set(map(int,x.split()))
y=int(input("enter a number you want to remove "))
if y in x:
    x.remove(y)
    print(x)

enter a set 1 2 3 4 5
enter a number you want to remove 3
{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
s1=input("enter a set ")
s1=set(map(int,s1.split()))
s2=input("enter a set ")
s2=set(map(int,s2.split()))
print("the intersection is ",s1.intersection(s2))
print("the union is ",s1.union(s2))
print("the difference is ",s1.difference(s2))
print("the symmetric difference is ",s1.symmetric_difference(s2))

enter a set 1 3 5 7 9
enter a set 2 3 4 6 8 1
the intersection is  {1, 3}
the union is  {1, 2, 3, 4, 5, 6, 7, 8, 9}
the difference is  {9, 5, 7}
the symmetric difference is  {2, 4, 5, 6, 7, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
x=input("enter a set ")
x=set(map(int,x.split()))
print("the max value is ",max(x))
print("the min value is ",min(x))

enter a set 1 2 3 4 5 6
the max value is  6
the min value is  1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
x=input("enter a list ")
x=list(map(int,x.split()))
y=int(input("enter a number "))
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]+x[j]==y:
            print(x[i],x[j])

enter a list 1 2 3 4 5 6 7
enter a number 5
1 4
2 3