# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')
df

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
1,2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2,2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
3,2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
4,2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0
...,...,...,...,...,...,...,...,...,...
154,2024-12-04,27170,NaN,22014,NaN,22510,NaN,-496,NaN
155,2024-12-11,36551,NaN,28883,NaN,29251,NaN,-368,NaN
156,2024-12-18,23053,NaN,27124,NaN,20767,NaN,6358,NaN
157,2024-12-24,35211,NaN,36142,NaN,32529,NaN,3613,NaN
158,2024-12-31,26027,NaN,21578,NaN,19932,NaN,1646,NaN

### Step 4.  What is the frequency of the dataset?

In [7]:
print(df['Date'].head())

0    2011-10-05
1    2011-10-12
2    2011-10-19
3    2011-10-26
4    2011-12-07
Name: Date, dtype: object

### Step 5. Set the column Date as the index.

In [8]:
df.set_index('Date', inplace=True)

### Step 6. What is the type of the index?

In [ ]:
print(type(df.index))

### Step 7. Set the index to a DatetimeIndex type

In [9]:
df.index = pd.to_datetime(df.index)

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [10]:
monthly = df.resample('M').sum()

/tmp/ipython-input-10-1921162712.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = df.resample('M').sum()

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [11]:
monthly.dropna(how='all', inplace=True)

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [12]:
yearly = monthly.resample('Y').sum()

/tmp/ipython-input-12-2301140232.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly = monthly.resample('Y').sum()

### BONUS: Create your own question and answer it.

In [13]:
#  What is the year with the highest total investment (sum across all columns)?
total_by_year = yearly.sum(axis=1)
max_year = total_by_year.idxmax().year
print(f"Year with highest total investment: {max_year}")

Year with highest total investment: 2024